@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Sans+Pro:wght@300&display=swap');

:root{
    --primary-color:#86198F;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

.fluid_container{
    padding-left: 1rem;
    padding-right: 1rem;

}
.center_container{
    max-width: 600px;
    margin: auto;
}
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color: #86198F;
    border-radius: 0.5rem;
    color: white;
}
.link-secondary{
    color: #86198F;
    border-radius: 0.5rem;
    border:1px solid;
}

.list-item-inline{
    display: inline;
}

.navigation{
    background-color:#86198F ;
    color: white;
    padding: 1rem;
    border-bottom-left-radius:1rem ;
}
.navigation .link{
    color: white;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .unordered{
    text-align: right;
    align-items: center;
} 
.navigation .link-active{
    font-weight: bold;
}

.hero{
    padding: 2rem;
}
.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero-heading{
    color: #475569;
    text-align: center;
}
.hero-heading-spam{
    color:#86198F ;
    font-weight: bold;
}

.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
}

.gray{
    background-color: #a1a1aa;
    color: black;
}
.white{
    background-color: white;
    color:#86198F;
}

.footer{
     background-color: var(--primary-color);
     padding:2rem 1rem;
     border-top-right-radius: 1rem;
}

.footer .link{
    color:white;
    
}
.footer ul{
    text-align: left;
}